.sidebar
{
    position: fixed;
    top: 80px;
    left: 16px;
    
    border-width: 0.5px;
    border-style: solid;
}
.buttons
{
    width: 200px;
    height: 41px;
    text-align: left;
    margin-bottom: -1px; 
    
    background-color: white;
    border: none;
}
.buttons:hover
{
    background-color: white;
    border-width: 1px;
    border-radius: 8px;
    cursor: pointer;
    
    background-color: rgb(226, 223, 223);
}
.settings
{
    margin-bottom: 20px;
    
    font-family: Arial;
    font-size: 18px;
    font-weight: 600;
    color: gray;
}